# =========================
# Node / Frontend
# =========================

node_modules/
**/node_modules/

dist/
**/dist/


# =========================
# Environment Variables
# =========================

.env
.env.*
!.env.example


# =========================
# Python / Backend
# =========================

# ChromaDB
chroma_db/

__pycache__/
*.py[cod]

.venv/
venv/
env/


# =========================
# Logs
# =========================

*.log


# =========================
# IDE
# =========================

.vscode/
.idea/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db