@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  font-family: 'Poppins', sans-serif;
}

.font-anime {
  font-family: 'Orbitron', sans-serif;
}

.font-modern {
  font-family: 'Poppins', sans-serif;
}